html {
  display: flex;
  justify-content: center;
  margin-top: 13rem;
}
#content{
  width: 200px;
  height: 80px;
  border-radius: 15px;
  padding: 2rem;
}
select{
  padding: 0.2rem 1rem;
  border-radius: 5px;
}